.container
    .jumbotron
        h1 Multivision
        p This is a sample application for buidling application with Mongo, Express, Angular, and Node!

    .row
        .col-md-6
            div(ng-include="'/partials/main/featured-courses'")
        .col-md-6
            div(ng-include="'/partials/main/new-courses'")